/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
}

/* Header */
.navbar .navbar-brand {
    color: #ff9926;
}

.header {
    padding-bottom: 1rem;
}

/* Footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: 0.05rem solid #e5e5e5;
}

/* Media queries */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
}

/* Dice */

/**
 * Style a dice using UTF-8 characters.
 */
.dice {
    font-size: 4rem;
}

.dice .dice-1::after { content: "\2680"; }
.dice .dice-2::after { content: "\2681"; }
.dice .dice-3::after { content: "\2682"; }
.dice .dice-4::after { content: "\2683"; }
.dice .dice-5::after { content: "\2684"; }
.dice .dice-6::after { content: "\2685"; }

i[class^="dice-"],
i[class*=" dice-"] {
    font-style: normal;
}
